p {
    /* 
    Green 
    and 
    Underlined
    */
    color: green;
    text-decoration: underline;
}

li {
    color: pink;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

a {
    color: orange;
}

#blue {
    font-weight: bold;
    color: blue;
}